@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sidebar-width: 15rem;
}

html,
body {
	@apply text-white bg-bg text-base;
}

@layer utilities {
	.grid-6-cols {
		@apply grid grid-cols-6 gap-6;
	}
}

.volume-slider::-webkit-slider-thumb {
	appearance: none;
	width: 10.5px;
	height: 10.5px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}

.volume-slider::-moz-range-thumb {
	width: 10.5px;
	height: 10.5px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}

.volume-slider::-ms-thumb {
	width: 10.5px;
	height: 10.5px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}

.rc-slider-handle:focus,
.rc-slider-handle:active {
	outline: none;
	box-shadow: none;
}

.tooltip-simple-text.rc-slider-tooltip .rc-slider-tooltip-inner {
	@apply text-base;
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	color: #fff !important;
	height: 16px;
}

.tooltip-simple-text.rc-slider-tooltip .rc-slider-tooltip-arrow {
	display: none !important; /* Убираем стрелку тултипа */
}

.tooltip-simple-text.rc-slider-tooltip {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
